.producto {
    max-width: 100%;
    height: 90%;
    border-radius: 5%;
    background-color: white;
    margin: 20px;
    padding: 3rem;
    text-align: center;
    margin-top: 50px;
}

.producto h4{
    font-weight: bold;
}


.imagen {
    max-width: 100%;
    height: 350px;
    display: block;
    margin: 0 auto;
}


.Option {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    background-color:  #c711ce;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    text-align: center;
    display: inline-block;
    line-height: 115%;
    text-align: center;
}

.Option:hover {
    width: 150px;
    height: 50px;
    background-color: #fff; 
    color: #c711ce;
    border: 2px solid #c711ce;
    border-radius: 5px;
    display: inline-block;
}






