.navbar {
    background-color: black !important;
  }
  
  .navbar h1 {
    color: white !important;
    margin-right: 20px;
  }
  
  .navbar a,
  .navbarNavLink {
    color: white !important;
    text-decoration: none !important;
    padding: 0 30px; 
    white-space: nowrap; 
  }
  
  .navbar .activeOption {
    font-weight: bold !important;
  }
  
  
  .category-links {
    display: flex; 
  }
  
  .category-links .option {
    margin-right: 15px;
  }

  