body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

.Counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.Controls {
  display: flex;
  text-align: center;
  gap: 1rem;
}

.Controls, .Number {
  display: felx;
  flex-direction: column;
}

.control-button {
  display: flex;
  gap: 1rem;
}










